
@media (min-width: 992px) {
  .stories-full-view .story {
    height: 93vh;
    text-align: center;
    width: 100%;
   
}
}
@media (max-width: 991px) {
  .stories-full-view .story video {
    height: 100%;
    width: 92%;
    object-position: center;
    aspect-ratio:16/10;
    object-fit: cover;
    border-radius: 30px;
    border-radius: 50px;
    border: 7px solid rgb(0, 0, 0);
    outline: 2px solid rgb(108, 108, 108);
    overflow: hidden;
}
.stories-full-view .author img{
  height: 40px;
  display: initial;
}
.stories-container {
  padding: 0px 30px;
  width: 100%;
}
.navbar-top {
 
  height: 8vh;
  margin-top: 35px;
}
.navbar-top h1 {
  width: 25%;
  font-size: 2rem;
}
.navbar-top h2 {
  width: 11%;
  font-size: 1.1rem;
  padding: 0 30px;
}
.stories-full-view .author {
  position: absolute;
  top: 50%;
  rotate: 90deg;
  left: 1%;
}
.stories-full-view .story video {
 
  border-radius: 21px;
}
.stories-full-view .author img {
  height: 27px;
  display: initial;
}
}
@media (max-width: 767px) {
    .stories-full-view .content {
      height: 80vh;
      max-width: 633px;

  }
  .navbar-top {
    height: 8vh;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.navbar-top h1 {
  width: 30%;
  font-size: 2rem;
  border: none;
}
.navbar-top h2{
  display: none;
  border: none;
  width: 11%;
  font-size: 2rem;
}

.navbar-top h2 i{
  align-items: center;
}
.navbar-top h2:nth-last-child(1){
  display: flex;
}
  .stories-container {
    padding: 0px 25px;
    width: 100%;
  }
  .stories-full-view .author img {
    height: 19px;
   
    display: initial;
}
.stories-full-view .author {
  position: absolute;
  top: 11px;
  rotate: 181deg;
  left: 3%;
}
.stories-full-view .story video {
 
  border-radius: 21px;
}
  .stories-full-view .close-btn {
    position: absolute;
    top: 12%;
    left: 80%;
    width: 45px;
    height: 45px;
   
}
.stories-full-view .next-btn {
  right: 6px;
}

.stories-container {
    padding: 0;
    width: 100%;
    margin: 20px auto;
}
.stories-container .story img {
    width: 100px !important;
    object-fit: cover;
}
.stories-full-view .story video {
    height: 100%;
    aspect-ratio: 16/10;
    object-fit: cover;
   
}

main {
    /* height: 100vh; */
  
}
.video-container {
    height: 100vh;
}
}
  @media (max-width: 610px) {
    .stories-full-view .content {
      height: 97vh;
      max-width: 327px;
  }
  .stories-full-view .close-btn {
    position: absolute;
    top: 3%;
    left: 69%;
    width: 35px;
    height: 35px;
}
.stories-full-view .author {
  position: absolute;
  top: 11px;
  rotate: 181deg;
  left: 34%;
}
.stories-full-view .close-btn {
  position: absolute;
  top: 4%;
  left: 69%;
  width: 35px;
  height: 35px;
}


.stories-container .previous-btn, .stories-container .next-btn, .stories-full-view .previous-btn, .stories-full-view .next-btn {
    width: 35px;
    height: 35px;}
  }
  @media (max-width: 510px) {
    .stories-full-view .content {
      height: 96vh;
      max-width: 300px;
  }
  .stories-full-view .close-btn {
    position: absolute;
    top: 3%;
    left: 71%;
    width: 35px;
    height: 35px;
}
.stories-full-view .author img {
  height: 22px;
  display: initial;
}
.stories-container .previous-btn, .stories-container .next-btn, .stories-full-view .previous-btn, .stories-full-view .next-btn {
    width: 35px;
    height: 35px;}
  }
  .stories-full-view .author {
    position: absolute;
    top: 11px;
    rotate: 181deg;
    left: 26%;
}
  @media (max-width: 460px) {
    .stories-full-view .content {
      height: 75vh;
      width: 100%;
  }
  .navbar-top h1 {
    width: 43%;
    font-size: 1.6rem;
    border: none;
}
  .stories-full-view .story video {
    height: 100%;
    width: 100%;
  
  }
  .stories-full-view .author img {
    height: 15px;
    display: initial;
}
.stories-full-view .close-btn {
  top: 14%;
  left: 77%;
}
.stories-full-view .author {
  position: absolute;
  top: 11px;
  rotate: 181deg;
  left: 40%;
}
  }
  @media (max-width: 410px) {
    .stories-full-view .content {
      height: 78%;
      width: 90%;
  }
  .stories-container .story img {
    width: 60px !important;
    object-fit: cover;
}
.stories-full-view .close-btn {
  top: 12%;
  left: 76%;
}
  .stories-container .story {
    width: 95px !important;
  }
  .stories-container {
    padding: 0 12px;
  }
  .stories-full-view .author {
    position: absolute;
    top: 9px;
    rotate: 181deg;
    left: 36%;
}
  .stories-full-view .author img {
    height: 18px;
    display: initial;
  }
  }

  @media (max-width: 350px) {
    .stories-full-view .close-btn {
      top: 34%;
      left: 70%;
  }
  .stories-full-view .close-btn {
    top: 13%;
    left: 79%;
}
.stories-full-view .content {
  height: 97%;
  width: 90%;
}
.stories-full-view .author {
  position: absolute;
  top: 11px;
  rotate: 181deg;
  left: 43%;
}
.stories-full-view .author img {
  height: 12px;
  display: initial;
}
  }
  @media (max-width: 320px) {
    .stories-full-view .content {
      height: 100%;
      width: 90%;
  }
  .stories-full-view .close-btn {
    top: 14%;
    left: 75%;
}
.stories-full-view .author {
  position: absolute;
  top: 11px;
  rotate: 181deg;
  left: 38%;
}
.stories-full-view .author img {
  height: 12px;
  display: initial;
}
  }

  